<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <span class="store-name">{{ storeName }}</span>
      <span class="store-slogan">Premium Fashion</span>
    </a>
    
    <button 
      class="navbar-toggler" 
      type="button" 
      (click)="isMenuCollapsed = !isMenuCollapsed"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">
            <i class="bi bi-bag"></i> Products
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>